body {
    background-color: #54392A;
}

header {
    max-width: 55em;
    margin: 0 auto;
}

.elipsemenu {
    display: flex;
}

.topo {
    background-color: #B0829B;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 2rem;
}

.menu {
    margin-left: auto;
    padding-top: 3.3em;
}

nav ul {
    display: flex;
    gap: 1.5em;
}

nav li {
    list-style-type: none;
}

li a {
    color: #B0829B;
    text-decoration-line: none;
    font: 1.5em "UbuntuSans-ExtraBold", sans-serif;
}

.elipse {
    background-color: #B0829B;
    padding: 2.3em 2.62em 1.8em 2.62em;
    border-radius: 50%;
    width: max-content;
}

.elipse img {
    width: 13em;
}

main {
    max-width: 69.62em;
    margin: 0 auto;
}

.aponte {
    background-color: #B0829B;
    width: max-content;
    display: flex;
    padding: 0.4em 1.8em;
    padding-right: 5.62em;
    border-radius: 50px 10px 50px 10px;
    float: right;
    position: relative;
    right: 6em;
}

.aponte h1 {
    font: 1.5em "UbuntuSans-ExtraBold", sans-serif;
    color: #fff;
}

.aponte img {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translate(0, -50%);
}

#cardapio {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 5.71em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.doce-um,
.doce-dois,
.doce-tres,
.doce-quatro,
.doce-cinco,
.doce-seis,
.doce-sete,
.doce-oito {
    max-width: 12em;
    min-width: 12em;
    border: solid 5px #B0829B;
}

#cardapio img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.overlay {
    padding: 3.75rem 3.56rem;
    gap: 3.75em;
    background-color: #b0829bee;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    opacity: 1;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.fechar {
    visibility: hidden;
    position: absolute;
    right: 0.6em;
    top: -0.2em;
    font: 3em "UbuntuSans-Light", sans-serif;
    color: #2e1f16;
}

.fechar a {
    text-decoration: none;
    color: #2e1f16;
}

.doce-um:hover .overlay,
.doce-dois:hover .overlay,
.doce-tres:hover .overlay,
.doce-quatro:hover .overlay,
.doce-cinco:hover .overlay,
.doce-seis:hover .overlay,
.doce-sete:hover .overlay,
.doce-oito:hover .overlay {
    opacity: 1;
    pointer-events: auto;
}

.img {
    width: 19.43em;
    height: 26.18em;
}

.texto-overlay {
    width: 19.43em;
    height: 26.18em;
    padding: 2.25em 1.93em 0em 1.93em;
    background-color: #d9d9d9a8;
    text-align: center;
}

.texto-overlay h1 {
    font: 2em "UbuntuSans-ExtraBold", sans-serif;
    color: #54392A;
}

.texto-overlay p {
    font: 1.5em "UbuntuSans-Light", sans-serif;
    color: #54392A;
    padding-top: 1.62em;
}

.footer {
    font: 1.12em "UbuntuSans-Medium", sans-serif;
    color: #2e1f16;
    background-color: #B0829B;
    max-width: 100%;
    padding: 0.8em 9em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}