body {
    background-color: #54392A;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
}

.topo {
    background-color: #B0829B;
    display: flex;
    height: 3.68em;
}

nav {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

nav li {
    list-style-type: none;
    display: inline;
    word-spacing: 1.5em;
}

li a {
    color: #54392A;
    text-decoration-line: none;
    font: 1.25em UbuntuSans-ExtraBold, sans-serif;
}

.elipse {
    background-color: #B0829B;
    border-radius: 50%;
    width: max-content;
    margin: 0 auto;
    padding: 3.8rem 3.93rem 2rem 3.93rem;
}

#homesection,
#sobresection,
#contatosection {
    max-width: 1200px;
    margin: 0 auto;
}

.home {
    padding-top: 12em;
    display: flex;
    gap: 38.31em;
}

.imagens-home {
    display: flex;
    position: relative;
}

.imagens-home img {
    border-radius: 50%;
    border: solid 10px #B0829B;
}

#doces-G {
    width: 22em;
    height: 22em;
    position: absolute;
    top: -9.81em;
    z-index: 1;
}

#doces-M {
    width: 17.75em;
    height: 17.75em;
    position: absolute;
    left: 15.75em;
    z-index: -1;
}

#doces-P {
    width: 10.31em;
    height: 10.31em;
    position: absolute;
    top: 9.25em;
    left: 5.87em;
    z-index: 2;
}

.texto-home {
    font: 2.1em UbuntuSans-Thin, sans-serif;
    color: #B0829B;
    display: flex;
    flex-direction: column;
}

.texto-home img {
    width: fit-content;
}

.descubra {
    display: flex;
    padding-top: 2rem;
}

#bambino-doces {
    font: 2.5rem UbuntuSans-ExtraBold, sans-serif;
}

#descubra {
    font: 2.2rem UbuntuSans-Medium, sans-serif;
    color: #B0829B;
}



.texto-1 {
    display: flex;
    align-items: center;
    padding-top: 13em;
    gap: 4.81em;
}

.texto-2 {
    display: flex;
    align-items: center;
    padding-top: 6rem;
    gap: 7em;
}

.texto-1 img {
    max-width: 24.06em;
}

.texto-2 img {
    max-width: 20.18em;
}

.sobre img {
    border-radius: 50%;
    border: solid 10px #B0829B;
}

.sobre p {
    font: 2.5em UbuntuSans-Thin, sans-serif;
    color: #B0829B;
    width: 38.12em;
}

#sobre-voce,
#convencer,
#cta {
    font-family: UbuntuSans-ExtraBold, sans-serif;
}


.contato {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13rem 5rem;
}

.contato p {
    font: 2.8em UbuntuSans-Thin, sans-serif;
    color: #B0829B;
}

button {
    padding: 1em 1.9em;
    border-radius: 40px;

    color: #fff;
    font: 1.12em UbuntuSans-Medium, sans-serif;
    border-style: none;
    text-shadow: 2px 2px 2px #291c14be;
}

.botoes {
    display: flex;
    padding-top: 4.43em;
    gap: 3.43em;
}

#wpp:hover {
    background-color: #01703c90;
}

#insta:hover {
    background-color: #961c8290;
}

#wpp {
    background-color: #01703C;
    box-shadow: 5px 5px 5px #012c1896;
}

#insta {
    background-color: #961c81;
    box-shadow: 5px 5px 5px #2c082696;
}


.footer {
    background-color: #B0829B;
    font: 1.12em UbuntuSans-Medium, sans-serif;
    color: #2e1f16;
    width: 100%;
    padding: 1.5em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
}